# Defina duas senhas locais antes de iniciar. Este arquivo nao contem credenciais validas.
MSSQL_SA_PASSWORD=AwSql2026!Vendas_84
PGPASSWORD=AwPg2026!Estrela_57
MSSQL_PORT=14330
PGPORT_EXTERNAL=54330
SOURCE_HOST=sqlserver
SOURCE_PORT=1433
SOURCE_DB=AdventureWorks2016
SOURCE_USER=sa
PGHOST=postgres
PGPORT=5432
PGDATABASE=adventureworks_dw
PGUSER=dw
